{% extends 'base.html.twig' %}

{% block title %}
    {{ page }}
{% endblock %}

{% block content %}
    <h1 class="text-center margin-bottom-2">Articles</h1>
    <div class="grid-x align-center">
        <div class="small-8 medium-6">
            {% if posts|length > 0 %}
                {% for post in posts %}
                    <a href="/posts/{{ post.id }}">
                        <div class="media-object">
                            {% if post.cover %}
                                <div class="media-object-section">
                                <div class="thumbnail">
                                    <img src="/img/sm-{{ post.cover }}" width="175">
                                </div>
                            </div>
                            {% endif %}
                            <div class="media-object-section">
                                <h4 class="margin-bottom-0">{{ post.title }}</h4>
                                <p class="font-italic">
                                    <time>{{ post.created_at|date('M d, Y') }}</time>
                                    by John Doe
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at atque deserunt.</p>
                            </div>
                        </div>
                    </a>
                    <hr>
                {% endfor %}
            {% else %}
            <p class="lead text-center">There are no articles to display.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}