{% extends 'base.html.twig' %}

{% block title %}
    Fiche conseil • {{ guide.title }}
{% endblock %}

{% block content %}

    <header class="header section-primary">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>{{ guide.title }}</h1>
        </div>
    </header>

    <div class="text-container margin-top-3">
        {% if guide.image_name %}
            <picture>
                <source media="(min-width: 768px)"
                        srcset="/img/{{ guide.image_name }} 1x, /img/lg-{{ guide.image_name }} 2x">
                <img src="/img/sm-{{ guide.image_name }}"
                     srcset="/img/{{ guide.image_name }} 2x"
                     alt="{{ guide.text_alt }}" style="width: 100%">
            </picture>
        {% else %}
            <img src="/img/placeholder.jpg" alt="">
        {% endif %}
    </div>

    <main class="guides text-container lead padding-vertical-3">
        {{ guide.description|raw }}
    </main>

    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>
{% endblock %}
