{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}

    <header class="header section-primary">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>{{ guide.title }}</h1>
        </div>
    </header>

    {% if guide.image_name %}
        <div class="text-container margin-top-3">
            <picture>
                <source media="(min-width: 768px)"
                        srcset="/img/{{ guide.image_name }} 1x, /img/lg-{{ guide.image_name }} 2x">
                <img src="/img/sm-{{ guide.image_name }}"
                     srcset="/img/{{ guide.image_name }} 2x"
                     alt="{{ guide.text_alt }}" style="width: 100%">
            </picture>
        </div>
    {% endif %}
    <main class="guides text-container lead padding-vertical-3">
        {{ guide.description|raw }}
    </main>

    {% include 'partials/footer.html.twig' %}
{% endblock %}


